// bower:scss
@import "bower_components/font-awesome/scss/font-awesome.scss";
// endbower
@import "components/header";
@import "components/left_nav";
@import "components/footer";

pre,
code {
  font-family: 'consolas';
  white-space: pre-wrap;
  /* css-3 */
  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  margin-top: 10px;
}

footer {
  display: none;
  @media all
  and (max-device-width: 800px) {
    display: block;
  }
}

