// bower:scss
@import "bower_components/font-awesome/scss/font-awesome.scss";
// endbower
@import "components/header";
@import "components/left_nav";
@import "components/footer";

html{
	background-color: #fff;
}

pre,code{
	font-family: 'consolas'
}

.obj{
	    border-left: 2px solid #F1F1F1;
    padding-left: 30px;
    margin: 30px;
}

p{
    border-bottom: 1px solid #eee;
    padding-bottom: 25px;
}

h5{
    font-weight: bold;
}

.left-nav{
  overflow-y: scroll;
}

footer {
  display: none;
  @media all
  and (max-device-width: 800px) {
    display: block;
  }
}
