// bower:scss
@import "bower_components/font-awesome/scss/font-awesome.scss";
// endbower
@import "components/header";
@import "components/tabs";
@import "components/left_nav";
html {
    background-color: #f6f6f6;
}

h5 {
    margin-top: 15px;
}

.text {
    color: #555;
    background-color: #f8f8f8;
    span {
        font-weight: bold;
        b {
            color: green;
        }
    }
}

.tag {
    display: none;
}

.html-tag,
.js-tag {
    position: absolute;
    right: 10px;
    background-color: #008AEC;
    padding: 0px 10px;
    bottom: 10px;
    color: #fff;
    border-radius: 2px;
    text-transform: uppercase;
}

.js-tag {
    background-color: #B7A000;
}

.opened {
    background-color: #fff;
}

.example {
    margin-bottom: 50px;
}

.demo-wrap {
    border: 1px solid #eee;
    border-radius: 3px;
    width: 100%;
    float: none;
    overflow: hidden;
    &>div {
        padding: 20px;
        position: relative;
    }
}

a {
    color: blue;
    text-decoration: none;
}

pre,
code {
    font-family: consolas;
}

pre {
    margin-bottom: 0;
}

.html .hljs {
    white-space: normal;
}

.hljs {
    border-color: #1B1B1B;
    border: 0;
}

.code {
    overflow: auto;
    font-family: inherit;
    background-color: #F8F8F8;
    display: none;
}

.code-toggle {
    margin-right: 10px;
    font-size: 18px;
}

.result {
    background-color: #fff;
    line-height: normal;
    .ejs-embed:last-of-type {
        margin-bottom: 0;
    }
}

.ejs-embed {
    margin-bottom: 0;
    border: 1px solid #E4E4E4;
    border-radius: 2px;
}

.cp_embed_iframe{
  background-color: #55acee;
  background-image: url('../images/loader.svg');
  background-repeat: no-repeat;
  background-position: center;
}
