// bower:scss
@import "bower_components/font-awesome/scss/font-awesome.scss";
// endbower
@import "components/header";
header {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
}

.container {
  padding-top: 60px;
}

pre,
code {
  font-family: 'consolas';
  white-space: pre-wrap;
  /* css-3 */
  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  margin-top: 10px;
}
