// bower:scss
@import "bower_components/font-awesome/scss/font-awesome.scss";
// endbower
@import "components/header";

.browser {
  width: 100%;
  display: block;
  position: relative;
  z-index: 9;
}

.banner-details {
  position: relative;
  width: 100%;
  z-index: 98;
  margin-top: 55px;
  .twitter-btn{
    line-height: 20px;
    padding: 0 8px;
    height: 20px;
    background-color: #fff;
    border: 0;
    border-radius: 2px;
    text-transform: capitalize;
    letter-spacing: 0;
    color:#1B95E0;
    i{
      font-size: 14px;
      margin-right: 2px;
      vertical-align: text-top;
    }
  }
  img {
    width: 200px;
    display: block;
    margin: 30px auto;
  }
  a{
    text-decoration: none;
    display: table;
    margin: 0 auto;
  }
  .download {
    margin: 0 auto;
    display: block;
    background-color: white;
    border-color: white;
    color: $primary;
    &:hover, &:focus {
      background-color: #f8f8f8;
      border-color: #fff;
      color: $primary;
    }
  }
  .title {
    display: block;
    text-align: center;
    color: #fff;
    margin: 45px auto;
    font-weight: 300;
    font-size: 28px;
    line-height: 52px;
    .typed {
      font-weight: bold;
      display: inline-block;
    }
  }
  .social-wrapper {
    display: table;
    margin: 20px auto;
    margin-bottom: 0;
    .social {
      div {
        display: inline-block;
        vertical-align: top;
      }
      .star {
        padding-top: 3px;
        iframe {
          width: 85px;
        }
      }
    }
  }
}

.banner {
  padding-top: 50px;
  position: relative;
  width: 100%;
  min-height: 100%;
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    background-color: $primary;
    width: 100%;
    height: 100%;
    z-index: 9;
  }
}

.features {
  padding: 20px 0;
  color: #555;
  padding-top: 0;
  .column-item {
    padding: 25px 10px;
    .icon {
      width: 50px;
      height: 50px;
      background-image: url("../images/homepage@2x.png");
      background-size: auto 100%;
      float: left;
      margin-right: 10px;
      margin-top: 5px;
      -webkit-filter: grayscale(10%);
      &.twitter {
        background-position-x: -58px;
      }
      &.github {
        background-position-x: -116px;
      }
      &.youtube {
        background-position-x: -174px;
      }
      &.ted {
        background-position-x: -232px;
      }
      &.instagram {
        background-position-x: -290px;
      }
      &.codepen {
        background-position-x: -348px;
      }
      &.soundcloud {
        background-position-x: -406px;
      }
      &.gmap {
        background-position-x: -464px;
      }
      &.markdown {
        background-position-x: -520px;
      }
      &.url {
        background-position-x: -578px;
      }
      &.image {
        background-position-x: -636px;
      }
      &.code {
        background-position-x: -694px;
      }
      &.media {
        background-position-x: -752px;
      }
    }
    .text {
      .title {
        font-weight: bold;
        color: #000;
      }
      float: none;
      overflow: hidden;
      color: #888;
    }
  }
}

h5 {
  margin-top: 30px;
  text-align: center;
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
  font-weight: bold;
}

@import "components/footer";

