// bower:scss
@import "bower_components/font-awesome/scss/font-awesome.scss";
// endbower
@import "components/header";

$primary : #0068AE;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #fafafa;
    font-family: 'Source Sans Pro', sans-serif;
    color: #333;
    background-color: #fff;
    overflow-x: hidden;
}

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
    h1 {
        font-size: 60px;
        line-height: 1;
        letter-spacing: -1px;
    }
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.banner-details {
    position: absolute;
    width: 100%;
    z-index: 98;
    margin-top: -330px;
    img {
        width: 200px;
        display: block;
        margin: 30px auto;
    }
    button {
        margin: 0 auto;
        display: block;
        background-color: white;
        border-color: white;
        color:$primary;
        margin-top: 90px;
        &:hover, &:focus{
          background-color: #f8f8f8;
          border-color: #fff;
          color:$primary;
        }
    }
    .title {
        display: block;
        text-align: center;
        color: #fff;
        margin: 45px auto;
        font-weight: 300;
        font-size: 28px;
        line-height: 52px;
        .typed{
          font-weight: bold;
          display: inline-block;
        }
    }
    .social-wrapper {
        display: table;
        margin: 20px auto;
        .social {
            div {
                display: inline-block;
            }
            .star {
                iframe {
                    width: 85px;
                }
            }
        }
    }
}

.banner {
    padding-top: 50px;
    position: relative;
    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        // background: linear-gradient(90deg, #134E5E 10%, #71B280 90%);
        background-color: $primary;
        width: 100%;
        height: 100%;
        z-index: 9;
        opacity: 0.82;
    }
    .row {
        width: 110%;
        .row-elem {
            display: inline-block;
            padding: 10px 15px;
            font-size: 24px;
            border: 1px solid #F8F8F8;
            border-top: 0;
            border-left: 0;
            margin-left: -4px;
            vertical-align: top;
            color: #ececec;
        }
    }
}
