footer {
  height: 50px;
  width: 100%;
  background-color: #FBFBFB;
  border-top: 1px solid #F3F3F3;

  span {
    display: block;
    text-align: center;
    line-height: 32px;
    padding: 8px;
    color: #666;

    a {
      text-decoration: none;
      color: #009ACA;
    }
  }

}
