header {
    width: 100%;
    height: 50px;
    background-color: #fff;
    position: fixed;
    z-index: 99;
    img {
        height: 100%;
        display: inline-block;
        float: left;
        margin-left: 10px;
    }
    nav {
        box-shadow: 1px 0px 1px rgba(0, 0, 0, 0.3);
        ul {
            margin: 0;
            padding: 0;
            float: right;
        }
        a {
            display: inline-block;
        }
        li {
            list-style-type: none;
            display: inline-block;
            padding: 16px 22px;
            font-size: 14px;
            color: #555;
            margin-bottom: 0;
            line-height: normal;
            &:hover {
                color: #333;
                background-color: #fafafa;
            }
        }
    }
}
