.left-nav {
  //position: fixed;
  //left: 0;
  height: 100%;
  width: 250px;
  background-color: #fff;
  border-right: 1px solid #e8e8e8;
  ul {
    margin-top: 50px;

    li {
      list-style-type: none;
      padding: 2px 20px;
      color: #666;
      font-size: 14px;
      &:hover {
        color: #000;
      }
    }
  }
}

.container {
  position: absolute;
  left: 280px;
  right: 30px;
  padding-top: 80px;
  @media all
  and (max-device-width: 800px) {
    position: relative;
    left:auto;
    right: auto;
  }
}

a {
  text-decoration: none;
}
