@import 'emojis';

$primary: #3498db;
$border-color: #eeeeee;

@font-face {
  font-family: emoticons;
  src: url(../assets/fonts/emoticons.eot?5zh0vu);
  src: url(../assets/fonts/emoticons.eot?#iefix5zh0vu) format('embedded-opentype'), url(../assets/fonts/emoticons.woff?5zh0vu) format('woff'), url(../assets/fonts/emoticons.ttf?5zh0vu) format('truetype'), url(../assets/fonts/emoticons.svg?5zh0vu#icomoon) format('svg');
  font-weight: 400;
  font-style: normal
}

.ejs-code {
  font-size: 14px;
  font-family: Consolas, Menlo, Monaco, monospace;
  padding: 1.5em !important;
}

.ejs-embed {
  width: 100%;
  margin: 20px 0;
  box-sizing: border-box;
  position: relative;
}

.ejs-embed iframe {
  border: 0;
  background-color: $primary;
  background-image: url(../assets/images/loader.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  display: block;
}

.ejs-instagram iframe {
  width: auto;
  border: 1px solid $border-color;
  height: 372px;
}
.ejs-facebook iframe {
  border: 1px solid $border-color;
  overflow: auto;
  background: #fff;
}


.ejs-plunker iframe {
  background-color: #fff;
  display: block;
}

.ejs-jsbin iframe {
  border: 1px solid $border-color;
  display: block;
}

.ejs-vine iframe,
.ejs-gist iframe {
  border: 0;
  margin: 10px 0;
  display: block;
}

pre {
  position: relative;
  border-radius: 2px;
  overflow: hidden;
  white-space: pre-wrap;
  margin: 0;
}

code {
  background-color: $border-color;
  padding: 3px 10px;
  border-radius: 2px;
}

.ejs-audio {
  background-color: #1d1d1d;
  border-radius: 2px;
  padding-top: 6px;
  margin: 10px 0;
}

.ejs-audio audio {
  width: 100%;
}

.ejs-video {
  margin: 20px 0;
  overflow: auto;
}

.ejs-video-preview {
  padding: 5px;
  border: 1px solid #e4e4e4;
  background-color: #fff;
}

.ejs-video iframe,
.ejs-video object {
  width: 100%;
  border: 0;
  display: block;
}

.ejs-video video {
  width: 100%;
}

.ejs-video-preview {
  overflow: auto;
}

.ejs-video-preview .ejs-thumb {
  display: block;
  width: 200px;
  height: 150px;
  border-radius: 2px;
  background-color: $primary;
  background-position: center;
  background-size: cover;
}

.ejs-video-thumb {
  width: 200px;
  float: left;
  cursor: pointer;
  color: hsla(0, 0%, 100%, .6);
}

.ejs-video-thumb:hover {
  color: #fff;
}

.ejs-video-thumb i {
  position: absolute;
  font-size: 42px;
  margin-top: -95px;
  margin-left: 5pc;
  cursor: pointer;
}

.ejs-video-detail {
  position: absolute;
  left: 200px;
  right: 10px;
  height: 100%;
  float: left;
  padding-left: 15px;
  box-sizing: border-box;
}

.ejs-video-title {
  font-weight: bolder;
  padding: 5px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ejs-video-desc {
  font-size: 1pc;
  color: #666;
  height: 90px;
}

.ejs-stats {
  padding-top: 7px;
  overflow: auto;
}

.ejs-video-stats, .ejs-github-stats {
  position: absolute;
  right: 5px;
  bottom: 15px;
  span {
	padding: 0 15px;
	i {
	  margin-right: 10px;
	}
  }

}

.ejs-video-player {
  background-color: $primary;
  background-image: url(../assets/images/loader.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.ejs-video-player iframe {
  width: 100%;
  display: block;
}

.ejs-image {
  max-width: 100%;
  margin: 10px 0;
  box-sizing: border-box;
  display: inline-block;
}

.ejs-image img {
  max-width: 100%;
  display: block;
}

.ejs-image-wrapper {
  margin: 5px;
  margin-bottom: 0;
  background-color: $primary;
  background-image: url(../assets/images/loader.svg);
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  overflow: hidden;
}

.icon-emoticon {
  font-family: emoticons;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;
}

.emoticon {
  text-indent: -9999px;
  display: inline-block;
  height: 22px;
  width: 22px;
  vertical-align: middle;
}

.ejs-ogp, .ejs-github {
  padding: 5px;
  border: 1px solid $border-color;
  display: inline-flex;
}

.ejs-ogp-thumb {
  width: 200px;
  height: 150px;
  background-size: cover;
  background-position: center;
  display: inline-block;
  background-color: $border-color;
}

.ejs-ogp-details {
  position: absolute;
  left: 200px;
  right: 10px;
  height: 100%;
  display: inline-block;
  margin-left: -4px;
  vertical-align: top;
  padding: 0 16px;
  box-sizing: border-box;
}

.ejs-ogp-title {
  margin: 10px 0px;
  font-size: 19px;
  margin-top: 6px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  a {
	color: #000;
  }
}
